@import "assets/style/variables";
@import "assets/style/mixins";

.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: $navbar-height;
  right: -($sidebar-width);
  height: calc(100vh - #{$navbar-height});
  width: $sidebar-width;
  background: $color-surface-primary;
  z-index: 1;
  transition: all 0.25s ease-out;

  &-active {
    right: 0;
  }

  @include media-breakpoint-desktop {
    position: sticky;
    top: 0;
    height: 100vh;
  }
  .app-logo {
    width: 50px;
    pointer-events: none;
    margin: 20px 10px 0;
    display: none;

    @include media-breakpoint-desktop {
      display: inline-block;
    }
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 1rem 0;

    .nav-item {
      padding: 0.75rem 1rem;
      margin-right: 1rem;
      border-radius: 0 1rem 1rem 0;
      font-size: 0.9175rem;
      background: $color-surface-primary;
      transition: all 0.2s ease-in;
      color: $color-text-primary;

      &:hover {
        background: $color-surface-primary-dark;
        color: $color-text-primary-theme;
      }

      &-active {
        background: $color-surface-primary-dark;
        color: $color-text-red;
        border-left: 3px solid $color-surface-primary-theme;
      }
    }
  }
}
