@import "./variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: $font-family-primary, -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background-primary;
  color: $color-text-primary;
  font-size: 14px;
}

code {
  font-family: $font-family-code;
}

// Links
a {
  color: $color-text-primary;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}

// Lists
ul,
ol {
  list-style-type: none;
}

// Font Sizes
h1,
h2,
h3 {
  letter-spacing: -0.5px;
  font-weight: 800;
  color: $color-text-primary;
}

h4,
h5,
h6 {
  letter-spacing: -0.55px;
  font-weight: 700;
}

h1 {
  font-size: 2.25em;
  margin: 10px 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
  margin: 5px 0;
}

h4 {
  font-size: 1.45em;
}

h5 {
  font-size: 1.35em;
}

h6 {
  font-size: 1.15em;
}
p {
  font-size: 1em;
  color: $color-text-primary;
}

// input
input {
  padding: 10px;
  background-color: $color-surface-primary-light;
  color: $color-text-primary;
  margin: 8px 0;
  font-size: inherit;
  border-radius: 4px;

  &:focus {
    border: 1px solid $color-input-outline;
  }
}

// Button classes
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button {
  padding: 1rem 2rem;
  color: $color-text-primary;
  transition: all 0.1s ease;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: $box-shadow-primary;
  }

  &:disabled {
    opacity: 0.55;
    box-shadow: none;
  }
}

.button-primary {
  background: $color-button-primary;
  font-size: 1.1em;
}

.button-secondary {
  background: $color-button-secondary;
  font-size: 1em;
}

// COLOR CLASSES

.color-blue {
  color: $color-text-light-blue;
}

.card {
  border-radius: 6px;
  box-shadow: $box-shadow-primary;
  background: $color-surface-primary;
  padding: 10px;
}

// ERRORS
.server-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: $color-surface-error;
  color: $color-text-primary;
  font-size: 14px;
  border-radius: 4px;
  margin: 5px 0;
  padding: 10px;
}
