@import './variables';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    font-family: $font-family-primary, -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $color-neutral-1;
    color: $color-neutral-e;
    font-size: 14px;
}
  
code {
    font-family: $font-family-code;
}

// Links
a {
    color: $color-neutral-e;
}
a, a:hover, a:visited {
    text-decoration: none;
}

// Lists
ul, ol {
    list-style-type: none;
}

// Font Sizes
h1, h2, h3 {
    font-weight: 800;
    color: $color-neutral-e;
}

h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.2em;
    margin: 10px 0;
} 
     
h2 {
    font-size: 2.0em;
} 
     
h3 {
    font-size: 1.6em;
    margin: 5px 0;
} 
     
h4 {
    font-size: 1.45em; 
} 
     
h5 {
    font-size: 1.35em;
}

h6 {
    font-size: 1.15em;
} 
p {
    font-size: 1em;
    color: $color-neutral-e;
}

// Button classes 
button {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.button {
    padding: 1rem 2rem;
    color: $color-neutral-e;
    transition: all 0.1s ease;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: $box-shadow-primary;
    }
}

.button-primary {
    background: $color-red;
    font-size: 1.1em;
}

// COLOR CLASSES 

.color-blue {
    color: $color-blue;
}