@import "./variables";
@import "./mixins";

html {
  overflow-x: hidden;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: $font-family-primary, -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-background-primary-900AA;
  color: $color-text-primary;
  font-size: 1rem;
}
// Links
a {
  color: $color-text-primary;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}

// Lists
ul,
ol {
  list-style-type: none;
}

// Font Sizes
h1,
h2,
h3 {
  font-weight: 800;
  color: $color-text-primary;
  margin: 1rem 0;
  line-height: 1.2;
}

h4,
h5,
h6 {
  letter-spacing: -0.4px;
  font-weight: 700;
  margin: 0.25rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  letter-spacing: -0.55px;

  @include media-breakpoint-tablet {
    font-size: 2.8rem;
  }
}

h2 {
  font-size: 1.875rem;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.4px;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}
p {
  font-size: 0.875rem;
  margin: 0.25rem 0;
  color: $color-text-primary;
}

// input
// override autofill colors for input
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid $color-input-outline;
  background-color: $color-surface-primary-light;
  -webkit-box-shadow: 0 0 0 30px $color-surface-primary-light inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $color-text-primary !important;
}
input {
  padding: 10px;
  background-color: $color-surface-primary-light;
  color: $color-text-primary;
  margin: 8px 0;
  font-size: 0.875rem;
  border-radius: 4px;

  &:focus {
    border: 1px solid $color-input-outline;
  }
}

// Button classes
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button {
  padding: 0.875rem 1.5rem;
  color: $color-text-primary;
  transition: all 0.2s ease;
  border-radius: 6px;
  font-weight: $font-weight-semi-bold;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.55;
    box-shadow: none;
  }
}

.button-primary {
  background: $color-button-primary;
  font-size: 0.75rem;

  &:hover {
    transform: translateY(-1px);
    box-shadow: $box-shadow-primary;
  }
}

.button-secondary {
  background: transparent;
  border: 1px solid $color-primary;
  font-size: 0.75rem;
  color: $color-text-primary-theme;
  font-weight: $font-weight-semi-bold;

  &:hover {
    background: $color-surface-primary-theme;
    color: $color-text-primary;
  }
}

// FONT CLASSES
.font-muted {
  color: $color-text-primary-muted;
}

// COLOR CLASSES
.color-blue {
  color: $color-text-light-blue;
}
.color-red {
  color: $color-text-red;
}

// SURFACES
.card {
  border-radius: 14px;
  box-shadow: $box-shadow-primary;
  background: $color-surface-primary;
  padding: 0.5rem;

  .card-body {
    padding: 1.75rem 1.5625rem;
  }
}

.card-circle-red {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 10px;
  min-height: 10px;
  padding: 15px;
  border: 5px solid $color-primary;
  background: $color-surface-red-transparent;
}

.card-circle-green {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 10px;
  min-height: 10px;
  padding: 15px;
  border: 5px solid $color-light-green-600;
  background: $color-surface-green-transparent;
}

.background-surface-green {
  background: $color-surface-green;
}

.background-surface-theme {
  background: $color-surface-primary-theme;
}

.background-surface-blue {
  background: $color-surface-blue;
}

.background-surface-yellow {
  background: $color-surface-yellow;
}
// ERRORS
.server-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: $color-surface-error;
  color: $color-text-red;
  font-size: 14px;
  border-radius: 4px;
  margin: 10px 0;
  padding: 12px;
}
