// COLORS
// vibrant colors - do not reference these directly
// This naming convention is based on - https://material.io/design/color/the-color-system.html
// XXX - main, > XXX- dark, < XXX - light
// light blue
$color-light-blue-300: #73b8ff;
$color-light-blue-500: #4a97ff; // main
$color-light-blue-700: #376dd8;
// red
$color-red-300a: #9135394f;
$color-red-300: #eb7578;
$color-red-500: #fd413c; // main
$color-red-700: #db2e34;
$color-red-700a: #db2e3485;
// green
$color-light-green-100: #b1ecd1;
$color-light-green-300: #06d294;
$color-light-green-500: #00d25b;
$color-light-green-600: #00ab5c;
$color-light-green-600a: #04b36176;
// yellow
$color-yellow-400: #ffe852;
$color-yellow-600: #ffd231; // main
$color-yellow-700: #fdbc2b;
$color-yellow-800: #f0ae21;
// pink
$color-pink-200: #db89be;
$color-pink-400: #cc3590; // main
$color-pink-600: #b90075;
// others
$color-blue-900a: #100d32cf;
$color-blue-900: #0a0c27;
$color-blue-800: #1b1d34;
$color-blue-300: #6c7293;
$color-purple: #5d26b6;
$color-orange: #fda085;

// neutral colors
$color-black: #050505;
$color-neutral-900Aa: #101218cb;
$color-neutral-900AA: #07080b;
$color-neutral-900A: #0d1013;
$color-neutral-900B: #12181c;
$color-neutral-900C: #141b1f;
$color-neutral-800: #1e2329;
$color-neutral-700: #545c63;
$color-neutral-600: #6b7580;
$color-neutral-500: #8e99a7;
$color-neutral-400: #b6bdc6;
$color-neutral-300: #dce1e7;
$color-neutral-200: #eaeff5;
$color-neutral-100: #f0f6fc;
$color-neutral-50: #f5fbff;

// PRIMARY & SECONDARY COLORS (use vibrant color pallette)
// primary colors
$color-primary: $color-red-500;
$color-primary-light: $color-red-300;
$color-primary-dark: $color-red-700;
// secondary colors
$color-secondary: $color-light-blue-500;
$color-secondary-light: $color-light-blue-300;
$color-secondary-dark: $color-light-blue-700;

// BACKGROUND & SURFACE COLORS
$color-background-primary-900AA: $color-neutral-900AA;
$color-background-primary-900A: $color-neutral-900A;
$color-background-primary: $color-neutral-900B;
$color-backgrouns-primary-theme: $color-primary;
$color-surface-primary-dark: $color-neutral-900A;
$color-surface-primary: $color-neutral-900B;
$color-surface-primary-light: $color-neutral-800;
$color-surface-inverse: $color-neutral-300;
// vivid colors
$color-surface-primary-theme: $color-primary;
$color-surface-blue: $color-light-blue-700;
$color-surface-red-transparent: $color-red-300a;
$color-surface-green-transparent: $color-light-green-600a;
$color-surface-green: $color-light-green-600;
$color-surface-yellow: $color-yellow-800;
// error
$color-surface-error: $color-red-300a;

// GRADIENT COLORS
$color-gradient-red: linear-gradient(
  120deg,
  $color-red-700 0%,
  $color-red-500 80%
);
$color-gradient-blue: linear-gradient(
  240deg,
  $color-light-blue-500 0%,
  $color-light-blue-700 100%
);
$color-gradient-gray: linear-gradient(
  120deg,
  $color-neutral-900C 0%,
  $color-neutral-900B 100%
);
// background/foregrounds
$foreground-gradient-red: linear-gradient(
  120deg,
  $color-blue-900a 0%,
  $color-red-700a 90%
);

// ON (TEXT) COLORS
$color-text-primary: $color-neutral-200;
$color-text-primary-600: $color-neutral-600;
$color-text-primary-inverse: $color-neutral-900B;
$color-text-primary-muted: $color-blue-300;
$color-text-light-blue: $color-light-blue-500;
$color-text-primary-theme: $color-primary;
$color-text-red: $color-primary;

// ELEMENTS COLORS (only use color variables)
// button color
$color-button-primary: $color-gradient-red;
$color-button-secondary: $color-gradient-blue;
// input colors
$color-input-outline: $color-primary-light;

// FONTS
$font-family-primary: "Manrope";
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New";

// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// BOX CONTENTS
$container-max-width: 1100px;

// BREAKPOINTS
$media-breakpoint-tablet: 768px;
$media-breakpoint-desktop: 1025px;

// BOX SHADOW
$box-shadow-primary: 0 20px 30px -10px $color-neutral-900Aa;

// WIDTH AND PADDING VARIABLES
$navbar-height: 70px;
$sidebar-width: 244px;

// z-index
$z-index-navbar: 100;
