// WEBSITE COLORS
// vibrant colors
$color-blue: #4a97ff;
$color-blue--dark: #0a0c27;
$color-green: #06d294;
$color-purple: #5d26b6;
$color-pink: #d4188a;
$color-yellow--light: #fff200;
$color-yellow--dark: #fdbc2b;
$color-orange--light: #fda085;
$color-red: #fd413c;
$primary-site-color: #4a97ff;
// neutral colors for each spectrum
$color-black: #000000;
$color-neutral-1: #212529;
$color-neutral-2: #272b2f;
$color-neutral-3: #333333;
$color-neutral-e: #efefef;

// WEBSITE FONTS
$font-family-primary: 'Manrope';
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';

// WEBSITE BOX CONTENTS
$container-max-width: 1100px;


// WEBSITE BREAKPOINTS
$media-breakpoint-tablet: 768px;
$media-breakpoint-desktop: 992px;

// WEBSITE BOX SHADOW
$box-shadow-primary: 0 20px 30px -10px rgba(5, 5, 5, 0.7);

