@import "assets/style/variables";

.welcome-card {
  background: $color-gradient-gray;
  display: flex;
  width: 85%;
  flex-direction: row;
  justify-content: space-between;

  .content {
    padding: 50px;
  }
}
