@import "assets/style/variables";
@import "assets/style/mixins";

.sidebar-toggle-button {
  background: transparent;
  color: $color-text-primary-theme;
  font-size: 1.25rem;

  @include media-breakpoint-desktop {
    display: none;
  }
}
