@import "assets/style/variables";
@import "assets/style/mixins";

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto 10px;
  padding: 20px;
  max-width: $container-max-width;
  text-align: center;

  .hero-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: $foreground-gradient-red,
      url("../../../../assets/images/hero-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @include media-breakpoint-tablet {
    padding: 60px;
  }

  .hero-intro {
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 10px 0;
  }

  h1 {
    max-width: 70%;
  }
  p {
    max-width: calc(75% + 10px);
    margin: 5px auto;
    line-height: 1.5rem;
  }

  button {
    margin: 20px auto;
  }

  .attribution {
    font-size: 0.65rem;
  }
}
