@import "assets/style/variables";
@import "assets/style/mixins";

.side-nav {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 210px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  background: $color-surface-primary;

  @include media-breakpoint-tablet {
    width: 280px;
  }
  .app-logo {
    width: 60px;
    pointer-events: none;
    margin: 30px 10px 0;
    display: inline-block;
  }

  .nav-item-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 0;

    .nav-item {
      margin: 8px 0;
      padding: 15px;
      border-radius: 6px;
      background: $color-surface-primary;

      &:hover {
        filter: brightness(150%);
      }

      &-active {
        background: $color-surface-primary-dark;
        color: $color-text-red;

        &:hover {
          filter: none;
        }
      }
    }
  }
}
