@import "assets/style/variables";
@import "assets/style/mixins";

.side-nav {
  display: none;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  min-width: 200px;
  flex-direction: column;
  background: $color-surface-primary;

  @include media-breakpoint-desktop {
    display: flex;
    width: 260px;
  }
  .app-logo {
    width: 60px;
    pointer-events: none;
    margin: 30px 10px 0;
    display: inline-block;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 1rem 0;

    .nav-item {
      padding: 0.75rem 1rem;
      margin-right: 1rem;
      border-radius: 0 1rem 1rem 0;
      font-size: 0.9175rem;
      background: $color-surface-primary;
      transition: all 0.2s ease-in;
      color: $color-text-primary;

      &:hover {
        background: $color-surface-primary-dark;
        color: $color-text-primary-theme;
      }

      &-active {
        background: $color-surface-primary-dark;
        color: $color-text-red;
        border-left: 3px solid $color-surface-primary-theme;
      }
    }
  }
}
