@import "assets/style/variables";

.side-nav {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 24%;
  min-width: 210px;
  max-width: 275px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  background: $color-surface-primary;

  .app-logo {
    width: 60px;
    pointer-events: none;
    margin: 30px 10px 0;
    display: inline-block;
  }

  .nav-item-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px 0;

    .nav-item {
      margin: 8px 0;
      padding: 20px 15px;
      border-radius: 6px;
      background: $color-surface-primary;

      &:hover {
        filter: brightness(150%);
      }

      &-active {
        background: $color-surface-primary-dark;

        &:hover {
          filter: none;
        }
      }
    }
  }
}
