@import '../../assets/style/variables';
  
.App-header {
  height: 60px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;
  }

  .App-logo {
    width: 45px;
    pointer-events: none;
    margin-right: 10px;
    display: inline-block;
  }

  h3 {
    display: inline-block;
  }
}