@import "assets/style/variables";
@import "assets/style/mixins";

.page-speed {
  display: flex;
  width: 100%;
  padding: 10px 35px;
  flex-direction: column;

  .heading {
    margin: 40px 0;
  }

  .performance-results {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .performance-results-toolbar {
      display: flex;
      flex-direction: row;
      margin: 5px;

      .color-classification {
        display: flex;
        flex-direction: row;

        p {
          margin-right: 5px;
        }
      }
    }

    .performance-score {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 3.3em;
        width: 70px;
        height: 70px;
      }
    }

    .metrics-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .metrics-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 200px;
        width: 100%;
        margin: 15px 20px 15px 0;
        padding: 30px;

        @include media-breakpoint-desktop {
          width: 22.5%;
        }

        .metrics-data-point {
          font-size: 3em;
        }
        .time-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 14px;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background: $color-surface-red-transparent;
        }
      }
    }
  }
}
