@import "assets/style/variables";
@import "assets/style/mixins";

.page-speed {
  .performance-results {
    display: flex;
    flex-direction: column;

    .performance-results-toolbar {
      display: flex;
      flex-direction: row;
      margin: 5px;

      .color-classification {
        display: flex;
        flex-direction: row;

        p {
          margin-right: 5px;
        }
      }
    }

    .performance-score {
      .performance-score-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        padding: 1.725rem 1.25rem;

        h2 {
          font-size: 3.3em;
          width: 110px;
          height: 110px;
        }
      }

      .performance-score-cta-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.725rem 1.25rem;

        button {
          margin: 1rem 0;
          max-width: 12rem;
        }
      }
    }

    .metrics-container {
      margin-top: 20px;

      .metrics-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        .metrics-data-point {
          font-size: 3em;
        }
        .time-circle {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 14px;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background: $color-surface-red-transparent;
        }
      }
    }
  }

  .performance-history {
    margin-top: 40px;

    h3 {
      margin: 30px 0;
    }
    .performance-history-chart {
      padding: 50px;
    }
  }
}
