@import "assets/style/variables";
@import "assets/style/mixins";

.dashboard {
  display: flex;

  .dashboard-body {
    width: 100%;

    @include media-breakpoint-desktop {
      width: calc(100% - #{$sidebar-width});
    }
  }
}
